In [1]:
import pandas as pd 
import matplotlib.pyplot as pyplot
import seaborn as sns 
import os
from os import path

In [2]:
mainfolder = path.join('..', '..', 'ppgi-stpg-gpx', 'data', 'sim_primRST_mutations')

# One can read the instance's folders using
# os.listdir(mainfolder)
# But for God's sake, I want already sorted
folders = [f'B{ii}' for ii in range(1,19)]

folders

['B1',
 'B2',
 'B3',
 'B4',
 'B5',
 'B6',
 'B7',
 'B8',
 'B9',
 'B10',
 'B11',
 'B12',
 'B13',
 'B14',
 'B15',
 'B16',
 'B17',
 'B18']

In [3]:
data = list()
for folder in folders:
    for trial in range(1, 51):
        fname = path.join(mainfolder, folder, f'trial_{trial}_simulation.csv')
        df = pd.read_csv(fname)
        data.append(df)

In [4]:
frame = pd.concat(data, ignore_index=True)

In [5]:
frame.head()

,nro_trial,instance_problem,nro_nodes,nro_edges,nro_terminals,global_optimum,tx_mutation,population_size,max_generation,best_cost,best_fitness,iterations,run_time,max_last_improvement,stopped_by
0,1,B1,50,63,9,82,0.2,100,4000,82,118,5,0.275482,4,BestKnowReached
1,2,B1,50,63,9,82,0.2,100,4000,82,37,17,0.821649,16,BestKnowReached
2,3,B1,50,63,9,82,0.2,100,4000,82,21,26,1.108921,25,BestKnowReached
3,4,B1,50,63,9,82,0.2,100,4000,82,16,39,1.573180,38,BestKnowReached
4,5,B1,50,63,9,82,0.2,100,4000,82,111,7,0.377830,6,BestKnowReached

In [6]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   nro_trial             900 non-null    int64
 1   instance_problem      900 non-null    object
 2   nro_nodes             900 non-null    int64
 3   nro_edges             900 non-null    int64
 4   nro_terminals         900 non-null    int64
 5   global_optimum        900 non-null    int64
 6   tx_mutation           900 non-null    float64
 7   population_size       900 non-null    int64
 8   max_generation        900 non-null    int64
 9   best_cost             900 non-null    int64
 10  best_fitness          900 non-null    int64
 11  iterations            900 non-null    int64
 12  run_time              900 non-null    float64
 13  max_last_improvement  900 non-null    int64
 14  stopped_by            900 non-null    object
dtypes: float64(2), int64(11), object(2)
memory usage: 105.6+ KB

In [18]:
18 * 50

900

In [7]:
group = frame[['instance_problem', 'best_cost', 'iterations', 'max_last_improvement']].groupby('instance_problem')

In [8]:
result = (group
            .agg(['mean', 'std'])
            .reindex(folders).round(2))

In [9]:
result

                 best_cost       iterations         max_last_improvement  \
                      mean   std       mean     std                 mean
instance_problem
B1                   82.10  0.30      59.18  149.34                 8.18
B2                   83.00  0.00       9.00    6.44                 8.00
B3                  138.00  0.00       3.20    1.12                 2.20
B4                   59.30  0.84      90.98  173.63                19.98
B5                   61.00  0.00      47.04   65.00                46.04
B6                  123.44  0.86     502.34  180.86               121.34
B7                  111.00  0.00       3.66    1.10                 2.66
B8                  104.06  0.42      17.20   70.26                 6.20
B9                  220.00  0.00       4.08    1.56                 3.08
B10                  86.00  0.00       8.24    5.04                 7.24
B11                  88.12  0.48      53.66  117.65                22.66
B12                 176.26  1.07     678.88  200.21               187.88
B13                 167.70  2.53     346.94  234.03                45.94
B14                 238.04  0.20     676.46  143.16               175.46
B15                 325.20  1.12     760.42  226.69               259.42
B16                 138.78  3.22     753.70  255.57               252.70
B17                 131.00  0.00      80.06   67.92                79.06
B18                 219.02  0.94     573.84  285.37               222.84


                     std
instance_problem
B1                  8.69
B2                  6.44
B3                  1.12
B4                 19.71
B5                 65.00
B6                190.74
B7                  1.10
B8                  6.55
B9                  1.56
B10                 5.04
B11                12.16
B12               188.13
B13                45.62
B14               143.16
B15               226.69
B16               255.57
B17                67.92
B18               198.91

In [25]:
# result.to_clipboard()

In [10]:
print(result.to_latex())

\begin{tabular}{lrrrrrr}
\toprule
{} & \multicolumn{2}{l}{best\_cost} & \multicolumn{2}{l}{iterations} & \multicolumn{2}{l}{max\_last\_improvement} \\
{} &      mean &   std &       mean &     std &                 mean &     std \\
instance\_problem &           &       &            &         &                      &         \\
\midrule
B1               &     82.10 &  0.30 &      59.18 &  149.34 &                 8.18 &    8.69 \\
B2               &     83.00 &  0.00 &       9.00 &    6.44 &                 8.00 &    6.44 \\
B3               &    138.00 &  0.00 &       3.20 &    1.12 &                 2.20 &    1.12 \\
B4               &     59.30 &  0.84 &      90.98 &  173.63 &                19.98 &   19.71 \\
B5               &     61.00 &  0.00 &      47.04 &   65.00 &                46.04 &   65.00 \\
B6               &    123.44 &  0.86 &     502.34 &  180.86 &               121.34 &  190.74 \\
B7               &    111.00 &  0.00 &       3.66 &    1.10 &                 2.66 &    1.10 \\
B8               &    104.06 &  0.42 &      17.20 &   70.26 &                 6.20 &    6.55 \\
B9               &    220.00 &  0.00 &       4.08 &    1.56 &                 3.08 &    1.56 \\
B10              &     86.00 &  0.00 &       8.24 &    5.04 &                 7.24 &    5.04 \\
B11              &     88.12 &  0.48 &      53.66 &  117.65 &                22.66 &   12.16 \\
B12              &    176.26 &  1.07 &     678.88 &  200.21 &               187.88 &  188.13 \\
B13              &    167.70 &  2.53 &     346.94 &  234.03 &                45.94 &   45.62 \\
B14              &    238.04 &  0.20 &     676.46 &  143.16 &               175.46 &  143.16 \\
B15              &    325.20 &  1.12 &     760.42 &  226.69 &               259.42 &  226.69 \\
B16              &    138.78 &  3.22 &     753.70 &  255.57 &               252.70 &  255.57 \\
B17              &    131.00 &  0.00 &      80.06 &   67.92 &                79.06 &   67.92 \\
B18              &    219.02 &  0.94 &     573.84 &  285.37 &               222.84 &  198.91 \\
\bottomrule
\end{tabular}

In [11]:
result2 = (pd.crosstab(frame['instance_problem'], frame['stopped_by'])
            .reindex(folders))

In [12]:
result2

stopped_by        BestKnowReached  Stagnation
instance_problem
B1                             45           5
B2                             50           0
B3                             50           0
B4                             43           7
B5                             50           0
B6                             12          38
B7                             50           0
B8                             49           1
B9                             50           0
B10                            50           0
B11                            47           3
B12                             1          49
B13                            20          30
B14                             0          50
B15                             0          50
B16                             0          50
B17                            50           0
B18                            15          35

In [13]:
print(result2.to_latex())

\begin{tabular}{lrr}
\toprule
stopped\_by &  BestKnowReached &  Stagnation \\
instance\_problem &                  &             \\
\midrule
B1               &               45 &           5 \\
B2               &               50 &           0 \\
B3               &               50 &           0 \\
B4               &               43 &           7 \\
B5               &               50 &           0 \\
B6               &               12 &          38 \\
B7               &               50 &           0 \\
B8               &               49 &           1 \\
B9               &               50 &           0 \\
B10              &               50 &           0 \\
B11              &               47 &           3 \\
B12              &                1 &          49 \\
B13              &               20 &          30 \\
B14              &                0 &          50 \\
B15              &                0 &          50 \\
B16              &                0 &          50 \\
B17              &               50 &           0 \\
B18              &               15 &          35 \\
\bottomrule
\end{tabular}